{% extends 'users/users_base.html' %}
{% load static %}
{% block body %}
    <main class="form-signin">
        <form action="" method="POST">
            {% csrf_token %}
<!-- TODO Replace Log in text with an icon. -->
<!--            <img class="mb-4" src="{% static 'images/sign_up.jpg' %}" alt="" width="144" height="114">-->
            <h1 class="h3 mb-3 fw-normal">Log in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="username" name="username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <label for="password">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>

            {% for message in messages %}
                <div class="alert alert-success" role="alert" style="margin-top: 10px;">
                    {{ message }}
                </div>
            {% endfor %}

            <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
            <p>Forgot password? <a href="">Reset password</a></p>
            <p><a href="{% url 'docs:home' %}">Go Back?</a></p>
        </form>
    </main>
{% endblock %}
